* @wpengine/spcs

# Dependency files: bot is co-owner so its approval satisfies CODEOWNERS for Dependabot PRs
package.json @wpe-ie-deploy-bot @wpengine/spcs
package-lock.json @wpe-ie-deploy-bot @wpengine/spcs
composer.json @wpe-ie-deploy-bot @wpengine/spcs
composer.lock @wpe-ie-deploy-bot @wpengine/spcs
Dockerfile @wpe-ie-deploy-bot @wpengine/spcs
docker-compose.yml @wpe-ie-deploy-bot @wpengine/spcs
