# Dependencies
node_modules
.pnpm-store

# Build outputs
dist

# Testing
coverage
playwright-report
test-results/

# WordPress
.wp-env
.wp-env.override.json
uploads/
debug.log

# Environment
.env
.env.local

# IDE and OS
.DS_Store
.idea
.vscode

## Examples
examples/**/package-lock.json
examples/**/__MACOSX