# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out

# Testing
coverage
playwright-report
test-results/

# WordPress
.wp-env
.wp-env.override.json
wp-env/
uploads/
debug.log
__MACOSX

# Environment
.env
.env.local

# IDE and OS
.DS_Store
.idea
.vscode

## Examples
examples/**/package-lock.json
examples/**/__MACOSX
examples/**/mu-plugin.php
examples/**/.htaccess
examples/**/.wp-env.json
``