includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

services:
    -
        class: WPGraphQL\Logging\PHPStan\Rules\ClassConstantVarAnnotationRule
        tags: [phpstan.rules.rule]

parameters:
    # Analysis Rules
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    checkExplicitMixedMissingReturn: true
    checkMissingTypehints: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    polluteScopeWithAlwaysIterableForeach: false
    polluteScopeWithLoopInitialAssignments: false
    reportAlwaysTrueInLastCondition: true
    reportStaticMethodSignatures: true
    reportWrongPhpDocTypeInVarTag: true

    # Configuration
    level: 8
    phpVersion:
          min: 80100
          max: 80400
    paths:
        - wpgraphql-logging.php
        - src/
    ignoreErrors:
        - identifier: empty.notAllowed
        -
            message: '#Constant WPGRAPHQL_LOGGING.* not found\.#'
