services:
     -
        class: WPGraphQL\Webhooks\Rules\ClassConstantVarAnnotationRule
        tags:
            - phpstan.rules.rule
parameters:
		level: 8
		checkExplicitMixedMissingReturn: true
		checkFunctionNameCase: true
		checkInternalClassCaseSensitivity: true
		checkTooWideReturnTypesInProtectedAndPublicMethods: true
		inferPrivatePropertyTypeFromConstructor: true
		polluteScopeWithAlwaysIterableForeach: false
		polluteScopeWithLoopInitialAssignments: false
		reportAlwaysTrueInLastCondition: true
		reportStaticMethodSignatures: true
		reportWrongPhpDocTypeInVarTag: true
		treatPhpDocTypesAsCertain: false
		stubFiles:
			# Simulate added properties
			- phpstan/class-wp-post-type.stub
			- phpstan/class-wp-taxonomy.stub
		bootstrapFiles:
			- phpstan/constants.php
			- activation.php
			- deactivation.php
			- wpgraphql-webhooks.php
		paths:
			- activation.php
			- deactivation.php
			- wpgraphql-webhooks.php
			- src/
		scanFiles:
			- vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
		excludePaths:
			analyseAndScan:
				- vendor/*